<div class="OuterDiv">
    <div class="FirstInnerDiv">
        <div class="funDo">
            <p><b>FunDoo</b></p>
        </div>
        <div class="InnerDiv">
            <div class="myDiv">
                <span>
                    <h1>Create Your FunDoo Account</h1>
                </span>
                <div class="nameDiv">
                    <mat-form-field appearance="outline" class="firstNameDiv">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field><br>
                </div>
                <mat-form-field appearance="outline" class="UserName">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
                <p>You can use letters and numbers </p>
                <br>
                <div class="nameDiv">
                    <mat-form-field appearance="outline" class="PasswordDiv">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput placeholder="">
                    </mat-form-field>
                </div>
                <p>Use 8 or more characters with a mix of letters, numbers & symbols</p>
                <input type="radio">
                <label>Show Password</label>
                <div class="matButton">
                    <div class="loginButton">
                        <button class="login">Login instead</button>
                    </div>
                    <div class="NextButton">
                        <button class="mat-raised-button">Next</button>
                    </div>
                </div>
            </div>
            <div class="imageDiv">
                <img class="image" src="../../../assets/account.svg" alt="">
            </div>
        </div>
    </div>
</div>