.example-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.funDo {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    color: #5f6368;
    font-weight: 200px;
    font-family: "Product Sans", Arial, sans-serif;
}

.mydiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #d5d8dc;
}

.keepIcon {
    width: 44px;
    height: 40px;
    padding-bottom: 5px;
}

.yDiv {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    cursor: pointer;

    :hover {
        background-color: transparent;
        box-sizing: border-box;
        box-shadow: 0 1px 1px 1px rgb(186, 184, 184);
    }
}

.searchBar {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
    padding: 0px 10px;
    display: flex;
    font-size: 16px;
    outline: 0;
    background: #f1f3f4;
    border: 1px solid transparent;
    column-width: 550px;
    height: 55px;
    align-items: center;
}
.search {
    height: 55px;
    border: none;
    font-size: large;
    background: #f1f3f4;
    width: 510px;
    margin: 0px;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-toolbar {
    background: #fff;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.contDiv {
    width: 300px;
}

.NoteD {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 30px 30px 0;
    border: 1px solid transparent;
    padding-left: 10px;
    font-weight: 500;
    height: 48px;
    min-width: 48px;
    cursor: pointer;

}

.NoteDi {
    :hover {
        background-color: #f1f3f4;
    }
   :active{
        background-color: #feefc3;
    }
}

.IconDiv {
    font-size: 16px;
    margin: 3px 3px 3px 3px;
    padding: 8px;
    p{
        margin: 0px;
    }
}

.NoteDiv {
    padding: 0 12px;
}

.cyDiv {
    padding-top: 7px;
    border: 1px;
    margin: 0 10px;
    cursor: pointer;

    :hover {
        border-radius: 50%;
        background-color: #f1f3f4;
    }
}

.divImg {
    height: 24px;
    width: 24px;
    padding: 8px;
    margin: 3px;
}
.Img{
    height: 30px;
    width: 30px;
}
.diImg{
    height: 30px;
    width: 30px;
    padding: 8px;
    padding-left: 10px;
}
.profile {
    padding-top: 3px;
    padding-left: 10px;
    border: 1px;
    margin: 0 8px;
    display: flex;
    margin-left: 8%;
    cursor: pointer;
    :hover {
        border-radius: 50%;
        background-color: #f1f3f4;
    }
}