.xDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}
.yDiv{
    opacity: 0.5;
}
.zDiv{
    width: 100%;
    margin:0px 8px;
}
.aDiv{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.mySearch {
    height: 30px;
    width: 100%;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    background-color: transparent;
    border: 0px transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    cursor: pointer;
    outline: none;
}
.collabs{
    border-bottom: 1px solid rgba(0,0,0,.15);
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    padding:10px;
}
.serDiv{
    width: 100%;
}
.imgDiv{
    height: 25px;
    width: 25px;
    padding: 8px;
    margin:1px;
    border: 1px solid black ;
    border-radius: 50%;
}
.imDiv{
    height: 35px;
    width: 35px;
    margin:1px;
    padding: 8px;
}
// .dialog-container-custom .mat-dialog-container {
// 	padding: 0;
// 	background: grey;
// }
.ic{
    background-color: rgba(0,0,0,.07);
    display: flex;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 10px 15px;
    border-radius: 5px;
}
.close{
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    cursor: pointer;
    button{
        border: 0px;
        cursor: pointer;
        padding: 8px 24px;
        border-radius: 4px;
    }
    :hover{
        background-color:#f2f5f9;
    }
}
.iDiv{
    display: flex;
    justify-content: flex-end;
    padding-left: 40%;
    
}
.divImg{
    height: 20px;
    width: 20px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.resDiv{
    height: auto;
    width: 170px;
    padding-right: 50px;
}