<div class="OuterDiv">
    <div class="InnerDiv">
        <div class="funDo">
            <div ><b>FunDoo</b></div>
        </div>
        <div>
            <p class="span">Find Your Email</p>
        </div>
        <div>
            <p> Enter Your Recovery Email </p>
        </div>
        <div>
            <mat-form-field appearance="outline" class="email">
                <mat-label>Email</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>
        <button class="mat-raised-button">Next</button>
    </div>
</div>
